/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
  list-style-type: none;
  font-size: 1.5625rem;
  padding: 20px;
}

@media (max-width: 767px) {
  .text-white {
    margin: 0;
    padding: 10px;
  }
}

.bg-trans {
  background-color: #0a0b0ad9;
  top: 0% !important;
  left: 0% !important;
  width: 100% !important;
  height: 100% !important;
  border-bottom: 10px solid #008000;
}

.bg-trans h3 {
  display: inline-block;
  border-bottom: 3px solid  #008000;
}

.bg-trans h5 {
  border-bottom: 1px solid  transparent;
}

.bg-trans h5 a {
  font-weight: bold;
  color: #008000;
}

.btn {
  padding: 5px 40px;
  background-color: #008000ad;
  color: white;
  font-size: 1.5625rem;
  border: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
}

.btn[disabled], .btn.disabled {
  cursor: not-allowed;
}

.btn:hover {
  background-color: green;
}

@media (max-width: 767px) {
  .btn {
    position: absolute;
    padding: 5px 10px;
    font-size: 1.875rem;
    top: -25px;
    right: -65px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
}

body {
  font-family: 'Amiri', serif;
  font-size: 8px;
  scroll-behavior: smooth;
  background-image: url("../images/building.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  body {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

html {
  font-family: 'Amiri', serif;
  font-size: 8px;
  scroll-behavior: smooth;
}

@media (min-width: 576px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

.main-body-layout {
  width: 100%;
}

.container {
  display: block;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 0px outset #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #ffe4ca;
}

::-webkit-scrollbar-track {
  background: #080808;
  border: 0px solid #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #aebbb4;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.nav-grand-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 5px 20px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 0;
}

.nav-grand-parent .logo {
  width: 100px;
  color: white;
  padding: 0;
  min-width: 90px;
  border: 15px solid green;
}

.nav-grand-parent .logo h1 {
  margin: 0px;
  padding: 0px;
  position: relative;
  right: -10px;
  top: 10px;
  font-size: 5rem;
}

.nav-grand-parent .logo h1 span {
  font-size: 1.875rem;
}

.nav-grand-parent .nav-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .nav-grand-parent .nav-parent {
    min-width: 200px;
    overflow-x: scroll;
  }
}

.nav-grand-parent .nav-parent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav-grand-parent .nav-parent ul li {
  padding: 20px;
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-bottom: 2px solid transparent;
}

.nav-grand-parent .nav-parent ul li:hover {
  color: green;
  border-bottom: 2px solid green;
}

@media (max-width: 767px) {
  .nav-grand-parent .nav-parent ul li {
    width: 100px;
  }
}

.content-div {
  margin-top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 160px 50px 50px 50px;
  background-color: #000000d1;
  width: 100%;
  position: relative;
}

@media (max-width: 767px) {
  .content-div {
    margin-top: 120px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 135px 5px 50px 5px;
  }
}

.content-div .description-area {
  position: absolute;
  left: 50px;
  top: 80px;
  width: 80%;
  min-width: 250px;
  padding: 0px;
}

@media (max-width: 767px) {
  .content-div .description-area {
    width: 100%;
    position: static;
    left: 0px;
    top: 0px;
  }
}

.content-div .description-area .content-alignment {
  margin: 40px 0px;
  padding: 20px 200px 20px 0px;
}

@media (max-width: 575px) {
  .content-div .description-area .content-alignment {
    margin: 0 auto;
    padding: 85px 5px 5px 5px;
  }
}

.content-div .description-area .content-alignment .flexx ul li {
  display: table;
}

.content-div .description-area .content-alignment .flexx ul li strong {
  min-width: 200px;
  display: table-cell;
  padding-right: 30px;
}

@media (max-width: 575px) {
  .content-div .description-area .content-alignment .flexx ul li strong {
    min-width: 50px;
    padding-right: 10px;
  }
}

.content-div .description-area .content-alignment .flexx ul li strong i {
  min-width: 50px;
  text-align: center;
  margin-right: 15px;
}

@media (max-width: 575px) {
  .content-div .description-area .content-alignment .flexx ul li strong i {
    min-width: 20px;
    margin-right: 5px;
  }
}

.content-div .description-area .content-alignment .flexx ul li span {
  display: table-cell;
}

.content-div .description-area .content-alignment .skills-rating {
  margin: 15px 0px;
  padding: 0px;
  color: white;
  text-align: center;
}

.content-div .description-area .content-alignment .skills-rating .html-rate {
  position: relative;
  width: 40%;
  background-color: green;
  font-weight: bold;
  padding: 5px 0px;
}

.content-div .description-area .content-alignment .skills-rating .html-rate strong {
  position: absolute;
  right: -15px;
  top: 0;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
  color: black;
}

.content-div .description-area .content-alignment .skills-rating .css-rate {
  position: relative;
  width: 50%;
  background-color: green;
  font-weight: bold;
  padding: 5px 0px;
}

.content-div .description-area .content-alignment .skills-rating .css-rate strong {
  position: absolute;
  right: -15px;
  top: 0;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
  color: black;
}

.content-div .description-area .content-alignment .skills-rating .javascript-rate {
  position: relative;
  width: 30%;
  background-color: green;
  font-weight: bold;
  padding: 5px 0px;
}

.content-div .description-area .content-alignment .skills-rating .javascript-rate strong {
  position: absolute;
  right: -15px;
  top: 0;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
  color: black;
}

.content-div .description-area .content-alignment .skills-rating .php-rate {
  position: relative;
  width: 20%;
  background-color: green;
  font-weight: bold;
  padding: 5px 0px;
}

.content-div .description-area .content-alignment .skills-rating .php-rate strong {
  position: absolute;
  right: -15px;
  top: 0;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
  color: black;
}

.content-div .description-area .content-alignment .skills-rating .wordpress-rate {
  position: relative;
  width: 35%;
  background-color: green;
  font-weight: bold;
  padding: 5px 0px;
}

.content-div .description-area .content-alignment .skills-rating .wordpress-rate strong {
  position: absolute;
  right: -15px;
  top: 0;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
  color: black;
}

.content-div .description-area .content-alignment .skills-rating .data-base-rate {
  position: relative;
  width: 15%;
  background-color: green;
  font-weight: bold;
  padding: 5px 0px;
}

.content-div .description-area .content-alignment .skills-rating .data-base-rate strong {
  position: absolute;
  right: -15px;
  top: 0;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
  color: black;
}

.content-div .description-area .content-alignment .skills-rating .photoshop-rate {
  position: relative;
  width: 35%;
  background-color: green;
  font-weight: bold;
  padding: 5px 0px;
}

.content-div .description-area .content-alignment .skills-rating .photoshop-rate strong {
  position: absolute;
  right: -15px;
  top: 0;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
  color: black;
}

.content-div .description-area .content-alignment .skills-rating .bootsrap-rate {
  position: relative;
  width: 60%;
  background-color: green;
  font-weight: bold;
  padding: 5px 0px;
}

.content-div .description-area .content-alignment .skills-rating .bootsrap-rate strong {
  position: absolute;
  right: -15px;
  top: 0;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
  color: black;
}

.content-div .description-area .content-alignment .skills-rating .scss-rate {
  position: relative;
  width: 45%;
  background-color: green;
  font-weight: bold;
  padding: 5px 0px;
}

.content-div .description-area .content-alignment .skills-rating .scss-rate strong {
  position: absolute;
  right: -15px;
  top: 0;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
  color: black;
}

.content-div .description-area h1 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin-right: 200px;
  border-bottom: 3px solid green;
}

@media (max-width: 767px) {
  .content-div .description-area h1 {
    text-align: right;
    padding: 0px 20px;
    width: 100%;
  }
}

.content-div .img {
  margin-right: 0px;
  width: 25%;
  min-width: 250px;
  height: 500px;
  border: 20px solid green;
  background-image: url("../images/talha1.jpg");
  background-position: center;
  background-size: cover;
  -webkit-transition: 2s;
  transition: 2s;
}

@media (max-width: 767px) {
  .content-div .img {
    border: 10px solid green;
    height: 130px;
    width: auto;
    min-width: 130px;
    border-radius: 100%;
    position: absolute;
    left: 5px;
    top: 110px;
  }
}

.content-div .img .img-layout {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media (max-width: 767px) {
  .content-div .img .img-layout {
    border-radius: 100%;
  }
}

.content-div .img:hover .img-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#00800094), to(#fcfcff2b));
  background-image: linear-gradient(90deg, #00800094, #fcfcff2b);
}

#about {
  display: none;
}

#experience {
  display: none;
}

#skills {
  display: none;
}

#project {
  display: none;
}

#contact {
  display: none;
}

.social-div {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 10;
  background-color: #00800085;
  padding: 10px 15px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-div i {
  font-size: 1.5625rem;
  color: #ffffffa1;
}

.social-content-div {
  visibility: hidden;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 11;
  background-color: #008000;
  padding: 10px 15px;
  border-top-left-radius: 100%;
  height: 650px;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .social-content-div {
    height: 300px;
    width: 300px;
  }
}

.social-content-div ul {
  padding: 8px 8px 8px 110px;
  margin-top: 30px;
  text-align: right;
}

.social-content-div ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.1875rem;
}

.social-content-div ul li i {
  margin-left: 35px;
}

@media (max-width: 767px) {
  .social-content-div ul {
    margin-top: 100px;
    padding-left: 25px;
  }
  .social-content-div ul li {
    font-size: 1.5625rem;
  }
  .social-content-div ul li i {
    margin-left: 10px;
  }
}

.social-content-div .close-icon {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 3.125rem;
}

.style {
  height: 50%;
  width: 75%;
  background-size: 100%;
  background-position: center;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.project-img-div-bicycle {
  background-image: url("../images/bicycle.png");
}

.project-img-div-g-media {
  background-image: url("../images/global-media.PNG");
}

.project-img-div-h-leading {
  background-image: url("../images/houseleading.PNG");
}

.project-img-div-group {
  background-image: url("../images/group.PNG");
}

.project-img-div-weather {
  background-image: url("../images/weather.PNG");
}

.project-img-div-cricket {
  background-image: url("../images//cricket.PNG");
}

.project-img-div-news {
  background-image: url("../images/news.PNG");
}
/*# sourceMappingURL=style.css.map */