//=======================================================
	// -Global style start
//=======================================================


// Default style start
body {
  font-family: 'Amiri', serif;
  font-size: 8px;
  scroll-behavior: smooth;
  background-image: url("../images/img.jpg");
  background-size: cover;
  background-attachment: fixed;

  @include mq('sm', min) {
    font-size: 10px;
  }
  @include mq('md', min) {
    font-size: 12px;
  }
  @include mq('lg', min) {
    font-size: 14px;
  }
  @include mq('xl', min) {
    font-size: 16px;
  }
}
html {
  font-family: 'Amiri', serif;
  font-size: 8px;
  scroll-behavior: smooth;
	@include mq('sm', min) {
    font-size: 10px;
  }
	@include mq('md', min) {
    font-size: 12px;
  }
	@include mq('lg', min) {
    font-size: 14px;
  }
  @include mq('xl', min) {
    font-size: 16px;
  }
}
.main-body-layout {
  height: 100%;
  width: 100%;
  background-color: #000000d1;
}
.container  {
  display: block;
  padding: 20px;
}
//=======================================================
	// -Global style  end
//=======================================================